@use '../abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.eyebrow {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  color: $color-accent;
  margin-bottom: 12px;
}

.eyebrow--white {
  color: $color-white;
}

.eyebrow--cta {
  letter-spacing: 1px;
}
