@use 'sass:map';

$color-neutral: (
  50: #f9fafb,
  100: #f3f4f6,
  200: #e5e7eb,
  300: #d1d5db,
  400: #9ca3af,
  500: #6b7280,
  600: #4b5563,
  700: #374151,
  800: #1f2937,
  900: #111827,
);

$color-accent: #dba558;
$color-black: #1e1e1e;
$color-white: #ffffff;
$color-border: map.get($color-neutral, 200);

$font-stack-body: Inter, Roboto, Helvetica, Arial, sans-serif;
$font-stack-heading: 'Inter Tight', Roboto, Helvetica, Arial, sans-serif;

$row-width: 1080px;
$column-gutter: 32px;

$font-size-base-sm: 14px;
$font-size-base-md: 16px;

$breakpoints: (
  sm: 0px,
  md: 768px,
  lg: 1024px,
);
